<html>
<head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="styles.css">-->
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <!--<script src="node_modules/core-js/client/shim.min.js"></script>-->
    <!--<script src="node_modules/zone.js/dist/zone.js"></script>-->
    <!--<script src="node_modules/reflect-metadata/Reflect.js"></script>-->
    <!--<script src="node_modules/systemjs/dist/system.src.js"></script>-->
    <!-- 2. Configure SystemJS -->
    <!--<script src="systemjs.config.js"></script>-->
    <!--<script>-->
        <!--System.import('app').catch(function(err){ console.error(err); });-->
    <!--</script>-->

    <script type="text/javascript" src="./demoangular.js"></script>
    <script type="text/javascript" src="./bundle.js"></script>
</head>
<!-- 3. Display the application -->
<body ng-app="myModule">

<!--<ui-view>-->
    <!--<div class="row">-->
        <!--<div ng-controller="UserController as userController" ng-init="userController.getUser()">-->
            <!--&lt;!&ndash;<p>Your fucking name is: {{ controller.user.name.first }}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Aaaaaand your fucking last name iiiiissss: {{controller.user.name.last}}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<img ng-src="{{controller.user.picture}}">&ndash;&gt;-->

            <!--<ul ng-repeat="user in userController.users">-->
                <!--<li>-->
                    <!--<div class="row" style="border:1px solid black;">-->
                        <!--<p>{{user.name.first}}</p>-->
                        <!--<p>{{user.name.last}}</p>-->
                        <!--<img ng-src="{{user.picture.medium}}">-->

                        <!--<button type="submit" ng-click="userController.removeUser(user)">do it</button>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

<!--</ui-view>-->
<div ui-view="main"></div>
</body>
</html>